*{
    background-color: pink;
}
img{
    width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.PARENT{
    width: 260px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}
.parfume,
h1,
.attribution,
.description,
span,
span del,
.price,
a{
    background-color: white;
}
.position-of-words{
    position:absolute;
    left:40px

}
.price{
    bottom: 100px;
    font-size: 35px;
    color: green;

}
.old-price{
    bottom: 112px;
    left: 160px;
}

.description{
    top: 185px;
    margin-right: 30px;
    color: hsl(228, 45%, 44%);
}
h1{
    top: 30px;
    margin-right: 5px;
}
.cart{
    bottom: 35px;
    left: 39px;
    background-color: green;
    padding: 10px;
    width: 160px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.parfume{
    top: 15px;
    color: hsl(228, 45%, 44%);
}
.attribution,
a{
    bottom: 0;
    background-color: #009688;
    left: 0;
    width: 100%;
    padding: 10px;
}
a{
    color: black;
}

@media (max-width:375px){
    body{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }
    img{
        height: 155px;
        left: 40%;
        top: 60%;
        transform: scaleY(1.5) translate(-40%, -125%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .PARENT{
        width:300px;
        height: 340px;
        font-size: small;
        position: absolute;
        top: 60%;
        left: 40%;
        transform: translate(-40%, -40%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .parfume{
        top: 30px;
    }
    h1{
        top: 50px;
        margin-right: 30px;
    }
    .price{
        bottom: 75px;
    }
    .old-price{
        bottom: 90px;
    }
    .cart{
        bottom: 20px;
        width: 185px;
    }
    .description{
        top: 150px;
        margin-right: 45px;
    }
    .attribution,
    a{
        padding: 0;
        bottom: -8px;
        left: 0px;
        transform: translate(-8px, 0px);
        width: 375px;

    }
}